<div class="row">
    <div id="forgotPwdContainer" class="col-xs-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <form id="forgotPwdForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="login-header">
                        <h2>Forgot Password...!</h2>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Email:</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-xs-12 align-center">
                    <div class="form-group">
                        <button type="button" id="btnForgotPwd" name="btnForgotPwd" class="btn btn-primary btn-md">RECOVER PASSWORD</button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <span class="separator"></span>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#/register">Register</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="float-right" href="#/">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
